* { margin: 0; padding: 0; box-sizing: border-box; }
      body { font: 13px Helvetica, Arial; }
      form { background: #000919; padding: 3px; position: fixed; bottom: 0; width: 100%; }
      input { border-radius: 25px; }
      #user { border: 0; padding: 10px; width: 30%; margin-right: .5%; margin-bottom: 1%; }
      #msg { border: 0; padding: 10px; width: 80%; margin-right: .5%; }
      form button { width: 15%; background: #00379b; padding: 10px; }
      #messages { list-style-type: none; margin: 0; padding: 0; }
      #messages li { padding: 5px 10px; }
      #messages li:nth-child(odd) { background: #eee; }
      #messages {
            margin-bottom: 40px; }

            #messages {
            position: absolute;
            animation-iteration-count: 1;
            animation-duration: 8s;
            background-color: #2d67ff;
            color: black;
            animation-fill-mode: forwards;
      }

      #header {
            background: #000919;
            color: white;
      }

      button {
          border: 2px solid #00379b;
          color: white;
          padding: 16px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 4px 2px;
          -webkit-transition-duration: 0.4s; /* Safari */
          transition-duration: 0.4s;
          cursor: pointer;
      }

      button:hover {
          background-color: white;
          color: black;
      }
